name: Java Maven Selenium Tests on Windows

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  selenium-tests-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List files in repo root
        run: dir

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: C:\Users\runneradmin\.m2\repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Install Maven dependencies
        run: mvn clean install -DskipTests
        working-directory: Java_Pratique  # <-- juste le dossier relatif dans le repo

      - name: Run Selenium Tests with Maven
        run: mvn test -B
        working-directory: Java_Pratique  # <-- pareil
